beautifulsoup4==4.6.0
Flask==0.12.2
Flask-Cors==3.0.2
Flask-PyMongo==0.5.1
Jinja2==2.9.6
jsonlines==1.2.0
jsonschema==2.6.0
jsontableschema==0.10.1
lxml==4.6.5
matplotlib==2.0.2
numpy==1.12.1
numpydoc==0.6.0
oauthlib==2.0.6
pandas==0.20.1
pandocfilters==1.4.1
pymongo==3.6.0
PyMySQL==0.7.11
requests==2.14.2
requests-oauthlib==0.8.0
selenium==3.8.0
splinter==0.7.7
SQLAlchemy==1.1.9
unicodecsv==0.14.1
urllib3==1.22

